In [3]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
# Import banking data
# Note: This data was extracted on 1999

# Each record describes characteristics of a client
client = pd.read_csv('./data/raw/data_berka/client.asc', sep=';')

# Each record describes static characteristics of an account
account = pd.read_csv('./data/raw/data_berka/account.asc', sep=';')

# Each record describes a credit card issued to an account
card = pd.read_csv('./data/raw/data_berka/card.asc', sep=';')

# Each record describes demographic characteristics of a district
district = pd.read_csv('./data/raw/data_berka/district.asc', sep=';')

# Each record relates together a client with an account
# i.e. this relation describes the rights of clients to operate accounts
disp = pd.read_csv('./data/raw/data_berka/disp.asc', sep=';')

# Each record describes characteristics of a payment order (debits only)
order = pd.read_csv('./data/raw/data_berka/order.asc', sep=';')

# Each record describes one transaction on an account
trans = pd.read_csv('./data/raw/data_berka/trans.asc', sep=';', low_memory=False)

# Each record describes a loan granted for a given account
loan = pd.read_csv('./data/raw/data_berka/loan.asc', sep=';')

In [17]:
empty = {}
def checkEmpty(df):
    for column in df.columns[1:]:
            empty[column] = df[column].astype(str).str.contains(r'^\s*$', na=False)
    return empty

In [18]:
def fillEmpty(df, empty):
    for column in order.columns[1:]:
        if order[column].dtype == object:
            df.loc[emptyrows[column], column] = 'Other'
        elif order[column].dtype == int | order[column].dtype == float:
            df.loc[emptyrows[column], column] = column.mean()
        elif order[column].dtype == category:
    return df

In [19]:
# Checking data
print(client.head())
# Checking structure
print(client.info())
# Checking missing columns
print("The number of missing columns are: " +  str(client.isna().sum().sum()))

   client_id  birth_number  district_id
0          1        706213           18
1          2        450204            1
2          3        406009            1
3          4        561201            5
4          5        605703            5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5369 entries, 0 to 5368
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   client_id     5369 non-null   int64
 1   birth_number  5369 non-null   int64
 2   district_id   5369 non-null   int64
dtypes: int64(3)
memory usage: 126.0 KB
None
The number of missing columns are: 0

In [20]:
# Checking data
print(account.head())
# Checking structure
print(account.info())
# Checking missing columns
print("The number of missing columns are: " +  str(account.isna().sum().sum()))

   account_id  district_id         frequency    date
0         576           55  POPLATEK MESICNE  930101
1        3818           74  POPLATEK MESICNE  930101
2         704           55  POPLATEK MESICNE  930101
3        2378           16  POPLATEK MESICNE  930101
4        2632           24  POPLATEK MESICNE  930102
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   account_id   4500 non-null   int64
 1   district_id  4500 non-null   int64
 2   frequency    4500 non-null   object
 3   date         4500 non-null   int64
dtypes: int64(3), object(1)
memory usage: 140.8+ KB
None
The number of missing columns are: 0

In [21]:
# Checking data
print(card.head())
# Checking structure
print(card.info())
# Checking missing columns
print("The number of missing columns are: " +  str(card.isna().sum().sum()))

   card_id  disp_id     type           issued
0     1005     9285  classic  931107 00:00:00
1      104      588  classic  940119 00:00:00
2      747     4915  classic  940205 00:00:00
3       70      439  classic  940208 00:00:00
4      577     3687  classic  940215 00:00:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   card_id  892 non-null    int64
 1   disp_id  892 non-null    int64
 2   type     892 non-null    object
 3   issued   892 non-null    object
dtypes: int64(2), object(2)
memory usage: 28.0+ KB
None
The number of missing columns are: 0

In [22]:
# Checking data
print(district.head())
# Checking structure
print(district.info())
# Checking missing columns
print("The number of missing columns are: " +  str(district.isna().sum().sum()))

   A1           A2               A3       A4  A5  A6  A7  A8  A9    A10  \
0   1  Hl.m. Praha           Prague  1204953   0   0   0   1   1  100.0
1   2      Benesov  central Bohemia    88884  80  26   6   2   5   46.7
2   3       Beroun  central Bohemia    75232  55  26   4   1   5   41.7
3   4       Kladno  central Bohemia   149893  63  29   6   2   6   67.4
4   5        Kolin  central Bohemia    95616  65  30   4   1   6   51.4

     A11   A12   A13  A14    A15    A16
0  12541  0.29  0.43  167  85677  99107
1   8507  1.67  1.85  132   2159   2674
2   8980  1.95  2.21  111   2824   2813
3   9753  4.64  5.05  109   5244   5892
4   9307  3.85  4.43  118   2616   3040
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      77 non-null     int64
 1   A2      77 non-null     object
 2   A3      77 non-null     object
 3   A4      77 non-null     int64
 4   A5      77 non-null     int64
 5   A6      77 non-null     int64
 6   A7      77 non-null     int64
 7   A8      77 non-null     int64
 8   A9      77 non-null     int64
 9   A10     77 non-null     float64
 10  A11     77 non-null     int64
 11  A12     77 non-null     object
 12  A13     77 non-null     float64
 13  A14     77 non-null     int64
 14  A15     77 non-null     object
 15  A16     77 non-null     int64
dtypes: float64(2), int64(10), object(4)
memory usage: 9.8+ KB
None
The number of missing columns are: 0

In [23]:
# Checking data
print(disp.head())
# Checking structure
print(disp.info())
# Checking missing columns
print("The number of missing columns are: " +  str(disp.isna().sum().sum()))

   disp_id  client_id  account_id       type
0        1          1           1      OWNER
1        2          2           2      OWNER
2        3          3           2  DISPONENT
3        4          4           3      OWNER
4        5          5           3  DISPONENT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5369 entries, 0 to 5368
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   disp_id     5369 non-null   int64
 1   client_id   5369 non-null   int64
 2   account_id  5369 non-null   int64
 3   type        5369 non-null   object
dtypes: int64(3), object(1)
memory usage: 167.9+ KB
None
The number of missing columns are: 0

In [24]:
# Checking data
print(order.head())
# Checking structure
print(order.info())
# Checking missing columns
print("The number of missing columns are: " +  str(order.isna().sum().sum()))
# Checking empty columns
emptyrows = checkEmpty(order)
for column in emptyrows:
    print(order[emptyrows[column]])
order =  fillEmpty(order, emptyrows)
print(order.head())

   order_id  account_id bank_to  account_to  amount k_symbol
0     29401           1      YZ    87144583  2452.0     SIPO
1     29402           2      ST    89597016  3372.7     UVER
2     29403           2      QR    13943797  7266.0     SIPO
3     29404           3      WX    83084338  1135.0     SIPO
4     29405           3      CD    24485939   327.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6471 entries, 0 to 6470
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    6471 non-null   int64
 1   account_id  6471 non-null   int64
 2   bank_to     6471 non-null   object
 3   account_to  6471 non-null   int64
 4   amount      6471 non-null   float64
 5   k_symbol    6471 non-null   object
dtypes: float64(1), int64(3), object(2)
memory usage: 303.5+ KB
None
The number of missing columns are: 0
Empty DataFrame
Columns: [order_id, account_id, bank_to, account_to, amount, k_symbol]
Index: []
Empty DataFrame
Columns: [order_id, account_id, bank_to, account_to, amount, k_symbol]
Index: []
Empty DataFrame
Columns: [order_id, account_id, bank_to, account_to, amount, k_symbol]
Index: []
Empty DataFrame
Columns: [order_id, account_id, bank_to, account_to, amount, k_symbol]
Index: []
      order_id  account_id bank_to  account_to  amount k_symbol
4        29405           3      CD    24485939   327.0
12       29413           8      IJ    93210345  6712.0
28       29430          24      QR    46086388  7641.0
31       29433          25      AB    79838293  1110.0
36       29440          29      MN    93088209   829.0
...        ...         ...     ...         ...     ...      ...
6452     46195       11271      AB    31909245  2364.0
6456     46260       11317      YZ    43205881  2784.0
6465     46330       11359      AB    90330576   254.0
6467     46335       11362      MN    78507822    56.0
6469     46337       11362      KL    20009470   129.0

[1379 rows x 6 columns]
   order_id  account_id bank_to  account_to  amount k_symbol
0     29401           1      YZ    87144583  2452.0     SIPO
1     29402           2      ST    89597016  3372.7     UVER
2     29403           2      QR    13943797  7266.0     SIPO
3     29404           3      WX    83084338  1135.0     SIPO
4     29405           3      CD    24485939   327.0    Other

In [26]:
# Checking data
print(trans.head())
# Checking structure
print(trans.info())
# Checking missing columns
print("The number of missing columns are: " +  str(trans.isna().sum().sum()))
# Checking empty columns
emptyrows = checkEmpty(trans)
print(emptyrows)
for column in emptyrows:
    print(trans[emptyrows[column]])
order =  fillEmpty(trans, emptyrows)
print(order.head())

   trans_id  account_id    date    type operation  amount  balance k_symbol  \
0    695247        2378  930101  PRIJEM     VKLAD   700.0    700.0      NaN
1    171812         576  930101  PRIJEM     VKLAD   900.0    900.0      NaN
2    207264         704  930101  PRIJEM     VKLAD  1000.0   1000.0      NaN
3   1117247        3818  930101  PRIJEM     VKLAD   600.0    600.0      NaN
4    579373        1972  930102  PRIJEM     VKLAD   400.0    400.0      NaN

  bank  account
0  NaN      NaN
1  NaN      NaN
2  NaN      NaN
3  NaN      NaN
4  NaN      NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056320 entries, 0 to 1056319
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   trans_id    1056320 non-null  int64
 1   account_id  1056320 non-null  int64
 2   date        1056320 non-null  int64
 3   type        1056320 non-null  object
 4   operation   873206 non-null   object
 5   amount      1056320 non-null  float64
 6   balance     1056320 non-null  float64
 7   k_symbol    574439 non-null   object
 8   bank        273508 non-null   object
 9   account     295389 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 80.6+ MB
None
The number of missing columns are: 2208738
{'account_id': 0          False
1          False
2          False
3          False
4          False
           ...
1056315    False
1056316    False
1056317    False
1056318    False
1056319    False
Name: account_id, Length: 1056320, dtype: bool, 'bank_to': 0       False
1       False
2       False
3       False
4       False
        ...
6466    False
6467    False
6468    False
6469    False
6470    False
Name: bank_to, Length: 6471, dtype: bool, 'account_to': 0       False
1       False
2       False
3       False
4       False
        ...
6466    False
6467    False
6468    False
6469    False
6470    False
Name: account_to, Length: 6471, dtype: bool, 'amount': 0          False
1          False
2          False
3          False
4          False
           ...
1056315    False
1056316    False
1056317    False
1056318    False
1056319    False
Name: amount, Length: 1056320, dtype: bool, 'k_symbol': 0          False
1          False
2          False
3          False
4          False
           ...
1056315    False
1056316    False
1056317    False
1056318    False
1056319    False
Name: k_symbol, Length: 1056320, dtype: bool, 'date': 0          False
1          False
2          False
3          False
4          False
           ...
1056315    False
1056316    False
1056317    False
1056318    False
1056319    False
Name: date, Length: 1056320, dtype: bool, 'type': 0          False
1          False
2          False
3          False
4          False
           ...
1056315    False
1056316    False
1056317    False
1056318    False
1056319    False
Name: type, Length: 1056320, dtype: bool, 'operation': 0          False
1          False
2          False
3          False
4          False
           ...
1056315    False
1056316    False
1056317    False
1056318    False
1056319    False
Name: operation, Length: 1056320, dtype: bool, 'balance': 0          False
1          False
2          False
3          False
4          False
           ...
1056315    False
1056316    False
1056317    False
1056318    False
1056319    False
Name: balance, Length: 1056320, dtype: bool, 'bank': 0          False
1          False
2          False
3          False
4          False
           ...
1056315    False
1056316    False
1056317    False
1056318    False
1056319    False
Name: bank, Length: 1056320, dtype: bool, 'account': 0          False
1          False
2          False
3          False
4          False
           ...
1056315    False
1056316    False
1056317    False
1056318    False
1056319    False
Name: account, Length: 1056320, dtype: bool}
Empty DataFrame
Columns: [trans_id, account_id, date, type, operation, amount, balance, k_symbol, bank, account]
Index: []

<ipython-input-26-b9173e5d4138>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(trans[emptyrows[column]])

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [ ]:
# Checking data
print(loan.head())
# Checking structure
print(loan.info())
# Checking missing columns
print("The number of missing columns are: " +  str(loan.isna().sum().sum()))
# Checking empty columns
print("The number of missing columns are: " +  str(loan.empty))

In [ ]:
loan.head()

In [14]:
client.head()

   client_id  birth_number  district_id
0          1        706213           18
1          2        450204            1
2          3        406009            1
3          4        561201            5
4          5        605703            5

In [31]:
client.mean()

client_id         3359.011920
birth_number    535114.970013
district_id         37.310114
dtype: float64

In [32]:
if client[;].dtype == int | order[column].dtype == float:
    print(column.mean())

NameError: name 'client_id' is not defined