In [200]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [210]:
# Import banking data
# Note: This data was extracted on 1999

# Each record describes characteristics of a client
client = pd.read_csv('./data/raw/data_berka/client.asc', sep=';')

# Each record describes static characteristics of an account
account = pd.read_csv('./data/raw/data_berka/account.asc', sep=';')

# Each record describes a credit card issued to an account
card = pd.read_csv('./data/raw/data_berka/card.asc', sep=';')

# Each record describes demographic characteristics of a district
district = pd.read_csv('./data/raw/data_berka/district.asc', sep=';')

# Each record relates together a client with an account
# i.e. this relation describes the rights of clients to operate accounts
disp = pd.read_csv('./data/raw/data_berka/disp.asc', sep=';')

# Each record describes characteristics of a payment order (debits only)
order = pd.read_csv('./data/raw/data_berka/order.asc', sep=';')

# Each record describes one transaction on an account
trans = pd.read_csv('./data/raw/data_berka/trans.asc', sep=';', low_memory=False)

# Each record describes a loan granted for a given account
loan = pd.read_csv('./data/raw/data_berka/loan.asc', sep=';')

In [211]:
def checkEmpty(df):
    empty = {}
    for column in df.columns[0:]:
            empty[column] = df[column].astype(str).str.contains(r'^\s*$', na=False)
    return empty

In [212]:
def fillEmpty(df, empty):
    for column in df.columns[0:]:
        if df[column].dtype == object:
            df.loc[emptyrows[column], column] = 'Other'
    return df

In [213]:
def renameColumn(table, df):
    for column in df.columns[1:]:
        column_name =  table + '_' + column
        df.rename(columns={column : column_name}, inplace = True)
    return df

In [214]:
# Checking data
print(client.head())
# Checking structure
print(client.info())
client = renameColumn('client', client)
# Checking missing columns
client['client_birth_year'] = client['client_birth_number'].astype(str).str[:2].astype(int) 
client['client_birth_year'] = client['client_birth_year'] + 1900
client['client_birth_month'] = client['client_birth_number'].astype(str).str[2:4].astype(int)
client['gender'] = 'M'
client.loc[client['client_birth_month'] > 50, 'gender'] = 'F'
client.loc[client['client_birth_month'] > 50, 'client_birth_month'] = client['client_birth_month'] - 50
client['client_birth_day'] = client['client_birth_number'].astype(str).str[4:6].astype(int)
# Checking empty columns
emptyrows = checkEmpty(client)
for column in emptyrows:
    print("the empty rows in " + column + " are: ")
    print(client.loc[emptyrows[column], column])
client =  fillEmpty(client, emptyrows)
print(client.head())

   client_id  birth_number  district_id
0          1        706213           18
1          2        450204            1
2          3        406009            1
3          4        561201            5
4          5        605703            5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5369 entries, 0 to 5368
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   client_id     5369 non-null   int64
 1   birth_number  5369 non-null   int64
 2   district_id   5369 non-null   int64
dtypes: int64(3)
memory usage: 126.0 KB
None
the empty rows in client_id are:
Series([], Name: client_id, dtype: int64)
the empty rows in client_birth_number are:
Series([], Name: client_birth_number, dtype: int64)
the empty rows in client_district_id are:
Series([], Name: client_district_id, dtype: int64)
the empty rows in client_birth_year are:
Series([], Name: client_birth_year, dtype: int32)
the empty rows in client_birth_month are:
Series([], Name: client_birth_month, dtype: int32)
the empty rows in gender are:
Series([], Name: gender, dtype: object)
the empty rows in client_birth_day are:
Series([], Name: client_birth_day, dtype: int32)
   client_id  client_birth_number  client_district_id  client_birth_year  \
0          1               706213                  18               1970
1          2               450204                   1               1945
2          3               406009                   1               1940
3          4               561201                   5               1956
4          5               605703                   5               1960

   client_birth_month gender  client_birth_day
0                  12      F                13
1                   2      M                 4
2                  10      F                 9
3                  12      M                 1
4                   7      F                 3

In [215]:
# Checking data
print(account.head())
# Checking structure
print(account.info())
account = renameColumn('account', account)
# Checking missing columns
print("The number of missing columns are: " +  str(account.isna().sum().sum()))
#Processing Date
account['account_year'] = account['account_date'].astype(str).str[:2].astype(int) 
account['account_year'] = account['account_year'] + 1900
account['account_month'] = account['account_date'].astype(str).str[2:4].astype(int)
account['account_day'] = account['account_date'].astype(str).str[4:6].astype(int)
# Checking empty columns
emptyrows = checkEmpty(account)
for column in emptyrows:
    print("the empty rows in " + column + " are: ")
    print(account.loc[emptyrows[column], column])
account =  fillEmpty(account, emptyrows)
print(account.head())

   account_id  district_id         frequency    date
0         576           55  POPLATEK MESICNE  930101
1        3818           74  POPLATEK MESICNE  930101
2         704           55  POPLATEK MESICNE  930101
3        2378           16  POPLATEK MESICNE  930101
4        2632           24  POPLATEK MESICNE  930102
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   account_id   4500 non-null   int64
 1   district_id  4500 non-null   int64
 2   frequency    4500 non-null   object
 3   date         4500 non-null   int64
dtypes: int64(3), object(1)
memory usage: 140.8+ KB
None
The number of missing columns are: 0
the empty rows in account_id are:
Series([], Name: account_id, dtype: int64)
the empty rows in account_district_id are:
Series([], Name: account_district_id, dtype: int64)
the empty rows in account_frequency are:
Series([], Name: account_frequency, dtype: object)
the empty rows in account_date are:
Series([], Name: account_date, dtype: int64)
the empty rows in account_year are:
Series([], Name: account_year, dtype: int32)
the empty rows in account_month are:
Series([], Name: account_month, dtype: int32)
the empty rows in account_day are:
Series([], Name: account_day, dtype: int32)
   account_id  account_district_id account_frequency  account_date  \
0         576                   55  POPLATEK MESICNE        930101
1        3818                   74  POPLATEK MESICNE        930101
2         704                   55  POPLATEK MESICNE        930101
3        2378                   16  POPLATEK MESICNE        930101
4        2632                   24  POPLATEK MESICNE        930102

   account_year  account_month  account_day
0          1993              1            1
1          1993              1            1
2          1993              1            1
3          1993              1            1
4          1993              1            2

In [216]:
# Checking data
print(card.head())
# Checking structure
print(card.info())
#Rename Columns
card = renameColumn('card', card)
# Checking missing columns
print("The number of missing columns are: " +  str(card.isna().sum().sum()))
#Processing Date
card['card_issued_year'] = card['card_issued'].astype(str).str[:2].astype(int) 
card['card_issued_year'] = card['card_issued_year'] + 1900
card['card_issued_month'] = card['card_issued'].astype(str).str[2:4].astype(int)
card['card_issued_day'] = card['card_issued'].astype(str).str[4:6].astype(int)
# Checking empty columns
emptyrows = checkEmpty(card)
for column in emptyrows:
    print("the empty rows in " + column + " are: ")
    print(card.loc[emptyrows[column], column])
card =  fillEmpty(card, emptyrows)
print(card.head())

   card_id  disp_id     type           issued
0     1005     9285  classic  931107 00:00:00
1      104      588  classic  940119 00:00:00
2      747     4915  classic  940205 00:00:00
3       70      439  classic  940208 00:00:00
4      577     3687  classic  940215 00:00:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   card_id  892 non-null    int64
 1   disp_id  892 non-null    int64
 2   type     892 non-null    object
 3   issued   892 non-null    object
dtypes: int64(2), object(2)
memory usage: 28.0+ KB
None
The number of missing columns are: 0
the empty rows in card_id are:
Series([], Name: card_id, dtype: int64)
the empty rows in card_disp_id are:
Series([], Name: card_disp_id, dtype: int64)
the empty rows in card_type are:
Series([], Name: card_type, dtype: object)
the empty rows in card_issued are:
Series([], Name: card_issued, dtype: object)
the empty rows in card_issued_year are:
Series([], Name: card_issued_year, dtype: int32)
the empty rows in card_issued_month are:
Series([], Name: card_issued_month, dtype: int32)
the empty rows in card_issued_day are:
Series([], Name: card_issued_day, dtype: int32)
   card_id  card_disp_id card_type      card_issued  card_issued_year  \
0     1005          9285   classic  931107 00:00:00              1993
1      104           588   classic  940119 00:00:00              1994
2      747          4915   classic  940205 00:00:00              1994
3       70           439   classic  940208 00:00:00              1994
4      577          3687   classic  940215 00:00:00              1994

   card_issued_month  card_issued_day
0                 11                7
1                  1               19
2                  2                5
3                  2                8
4                  2               15

In [187]:
# Checking data
print(district.head())
# Checking structure
print(district.info())
# Checking missing columns
print("The number of missing columns are: " +  str(district.isna().sum().sum()))
# Checking empty columns
emptyrows = checkEmpty(district)
for column in emptyrows:
    print("the empty rows in " + column + " are: ")
    print(district.loc[emptyrows[column], column])
district =  fillEmpty(district, emptyrows)
print(district.head())

   A1           A2               A3       A4  A5  A6  A7  A8  A9    A10  \
0   1  Hl.m. Praha           Prague  1204953   0   0   0   1   1  100.0
1   2      Benesov  central Bohemia    88884  80  26   6   2   5   46.7
2   3       Beroun  central Bohemia    75232  55  26   4   1   5   41.7
3   4       Kladno  central Bohemia   149893  63  29   6   2   6   67.4
4   5        Kolin  central Bohemia    95616  65  30   4   1   6   51.4

     A11   A12   A13  A14    A15    A16
0  12541  0.29  0.43  167  85677  99107
1   8507  1.67  1.85  132   2159   2674
2   8980  1.95  2.21  111   2824   2813
3   9753  4.64  5.05  109   5244   5892
4   9307  3.85  4.43  118   2616   3040
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      77 non-null     int64
 1   A2      77 non-null     object
 2   A3      77 non-null     object
 3   A4      77 non-null     int64
 4   A5      77 non-null     int64
 5   A6      77 non-null     int64
 6   A7      77 non-null     int64
 7   A8      77 non-null     int64
 8   A9      77 non-null     int64
 9   A10     77 non-null     float64
 10  A11     77 non-null     int64
 11  A12     77 non-null     object
 12  A13     77 non-null     float64
 13  A14     77 non-null     int64
 14  A15     77 non-null     object
 15  A16     77 non-null     int64
dtypes: float64(2), int64(10), object(4)
memory usage: 9.8+ KB
None
The number of missing columns are: 0
the empty rows in A1 are:
Series([], Name: A1, dtype: int64)
the empty rows in A2 are:
Series([], Name: A2, dtype: object)
the empty rows in A3 are:
Series([], Name: A3, dtype: object)
the empty rows in A4 are:
Series([], Name: A4, dtype: int64)
the empty rows in A5 are:
Series([], Name: A5, dtype: int64)
the empty rows in A6 are:
Series([], Name: A6, dtype: int64)
the empty rows in A7 are:
Series([], Name: A7, dtype: int64)
the empty rows in A8 are:
Series([], Name: A8, dtype: int64)
the empty rows in A9 are:
Series([], Name: A9, dtype: int64)
the empty rows in A10 are:
Series([], Name: A10, dtype: float64)
the empty rows in A11 are:
Series([], Name: A11, dtype: int64)
the empty rows in A12 are:
Series([], Name: A12, dtype: object)
the empty rows in A13 are:
Series([], Name: A13, dtype: float64)
the empty rows in A14 are:
Series([], Name: A14, dtype: int64)
the empty rows in A15 are:
Series([], Name: A15, dtype: object)
the empty rows in A16 are:
Series([], Name: A16, dtype: int64)
   A1           A2               A3       A4  A5  A6  A7  A8  A9    A10  \
0   1  Hl.m. Praha           Prague  1204953   0   0   0   1   1  100.0
1   2      Benesov  central Bohemia    88884  80  26   6   2   5   46.7
2   3       Beroun  central Bohemia    75232  55  26   4   1   5   41.7
3   4       Kladno  central Bohemia   149893  63  29   6   2   6   67.4
4   5        Kolin  central Bohemia    95616  65  30   4   1   6   51.4

     A11   A12   A13  A14    A15    A16
0  12541  0.29  0.43  167  85677  99107
1   8507  1.67  1.85  132   2159   2674
2   8980  1.95  2.21  111   2824   2813
3   9753  4.64  5.05  109   5244   5892
4   9307  3.85  4.43  118   2616   3040

In [217]:
# Checking data
print(disp.head())
# Checking structure
print(disp.info())
#Rename Columns
disp = renameColumn('disp', disp)
# Checking missing columns
print("The number of missing columns are: " +  str(disp.isna().sum().sum()))
# Checking empty columns
emptyrows = checkEmpty(disp)
for column in emptyrows:
    print("the empty rows in " + column + " are: ")
    print(disp.loc[emptyrows[column], column])
disp =  fillEmpty(disp, emptyrows)
print(disp.head())

   disp_id  client_id  account_id       type
0        1          1           1      OWNER
1        2          2           2      OWNER
2        3          3           2  DISPONENT
3        4          4           3      OWNER
4        5          5           3  DISPONENT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5369 entries, 0 to 5368
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   disp_id     5369 non-null   int64
 1   client_id   5369 non-null   int64
 2   account_id  5369 non-null   int64
 3   type        5369 non-null   object
dtypes: int64(3), object(1)
memory usage: 167.9+ KB
None
The number of missing columns are: 0
the empty rows in disp_id are:
Series([], Name: disp_id, dtype: int64)
the empty rows in disp_client_id are:
Series([], Name: disp_client_id, dtype: int64)
the empty rows in disp_account_id are:
Series([], Name: disp_account_id, dtype: int64)
the empty rows in disp_type are:
Series([], Name: disp_type, dtype: object)
   disp_id  disp_client_id  disp_account_id  disp_type
0        1               1                1      OWNER
1        2               2                2      OWNER
2        3               3                2  DISPONENT
3        4               4                3      OWNER
4        5               5                3  DISPONENT

In [218]:
# Checking data
print(order.head())
# Checking structure
print(order.info())
#Rename Columns
order = renameColumn('order', order)
# Checking missing columns
print("The number of missing columns are: " +  str(order.isna().sum().sum()))
# Checking empty columns
emptyrows = checkEmpty(order)
for column in emptyrows:
    print("the empty rows in " + column + " are: ")
    print(order.loc[emptyrows[column], column])
order =  fillEmpty(order, emptyrows)
print(order.head())

   order_id  account_id bank_to  account_to  amount k_symbol
0     29401           1      YZ    87144583  2452.0     SIPO
1     29402           2      ST    89597016  3372.7     UVER
2     29403           2      QR    13943797  7266.0     SIPO
3     29404           3      WX    83084338  1135.0     SIPO
4     29405           3      CD    24485939   327.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6471 entries, 0 to 6470
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    6471 non-null   int64
 1   account_id  6471 non-null   int64
 2   bank_to     6471 non-null   object
 3   account_to  6471 non-null   int64
 4   amount      6471 non-null   float64
 5   k_symbol    6471 non-null   object
dtypes: float64(1), int64(3), object(2)
memory usage: 303.5+ KB
None
The number of missing columns are: 0
the empty rows in order_id are:
Series([], Name: order_id, dtype: int64)
the empty rows in order_account_id are:
Series([], Name: order_account_id, dtype: int64)
the empty rows in order_bank_to are:
Series([], Name: order_bank_to, dtype: object)
the empty rows in order_account_to are:
Series([], Name: order_account_to, dtype: int64)
the empty rows in order_amount are:
Series([], Name: order_amount, dtype: float64)
the empty rows in order_k_symbol are:
4
12
28
31
36
       ..
6452
6456
6465
6467
6469
Name: order_k_symbol, Length: 1379, dtype: object
   order_id  order_account_id order_bank_to  order_account_to  order_amount  \
0     29401                 1            YZ          87144583        2452.0
1     29402                 2            ST          89597016        3372.7
2     29403                 2            QR          13943797        7266.0
3     29404                 3            WX          83084338        1135.0
4     29405                 3            CD          24485939         327.0

  order_k_symbol
0           SIPO
1           UVER
2           SIPO
3           SIPO
4          Other

In [219]:
# Checking data
print(trans.head())
# Checking structure
print(trans.info())
#Rename Columns
trans = renameColumn('trans', trans)
# Checking missing columns
print("The number of missing columns are: " +  str(trans.isna().sum().sum()))

#Processing Date
trans['trans_year'] = trans['trans_date'].astype(str).str[:2].astype(int) 
trans['trans_year'] = trans['trans_year'] + 1900
trans['trans_month'] = trans['trans_date'].astype(str).str[2:4].astype(int)
trans['trans_day'] = trans['trans_date'].astype(str).str[4:6].astype(int)

emptyrows = checkEmpty(trans)
#check na per column 
for column in emptyrows:
    print("the empty rows in " + column + " are: ")
    print(trans[column].isna().sum())

# Checking empty columns
for column in emptyrows:
    print("the empty rows in " + column + " are: ")
    print(trans.loc[emptyrows[column], column])
trans =  fillEmpty(trans, emptyrows)
print(trans.head())

   trans_id  account_id    date    type operation  amount  balance k_symbol  \
0    695247        2378  930101  PRIJEM     VKLAD   700.0    700.0      NaN
1    171812         576  930101  PRIJEM     VKLAD   900.0    900.0      NaN
2    207264         704  930101  PRIJEM     VKLAD  1000.0   1000.0      NaN
3   1117247        3818  930101  PRIJEM     VKLAD   600.0    600.0      NaN
4    579373        1972  930102  PRIJEM     VKLAD   400.0    400.0      NaN

  bank  account
0  NaN      NaN
1  NaN      NaN
2  NaN      NaN
3  NaN      NaN
4  NaN      NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056320 entries, 0 to 1056319
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   trans_id    1056320 non-null  int64
 1   account_id  1056320 non-null  int64
 2   date        1056320 non-null  int64
 3   type        1056320 non-null  object
 4   operation   873206 non-null   object
 5   amount      1056320 non-null  float64
 6   balance     1056320 non-null  float64
 7   k_symbol    574439 non-null   object
 8   bank        273508 non-null   object
 9   account     295389 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 80.6+ MB
None
The number of missing columns are: 2208738
the empty rows in trans_id are:
0
the empty rows in trans_account_id are:
0
the empty rows in trans_date are:
0
the empty rows in trans_type are:
0
the empty rows in trans_operation are:
183114
the empty rows in trans_amount are:
0
the empty rows in trans_balance are:
0
the empty rows in trans_k_symbol are:
481881
the empty rows in trans_bank are:
782812
the empty rows in trans_account are:
760931
the empty rows in trans_year are:
0
the empty rows in trans_month are:
0
the empty rows in trans_day are:
0
the empty rows in trans_id are:
Series([], Name: trans_id, dtype: int64)
the empty rows in trans_account_id are:
Series([], Name: trans_account_id, dtype: int64)
the empty rows in trans_date are:
Series([], Name: trans_date, dtype: int64)
the empty rows in trans_type are:
Series([], Name: trans_type, dtype: object)
the empty rows in trans_operation are:
Series([], Name: trans_operation, dtype: object)
the empty rows in trans_amount are:
Series([], Name: trans_amount, dtype: float64)
the empty rows in trans_balance are:
Series([], Name: trans_balance, dtype: float64)
the empty rows in trans_k_symbol are:
636
1335
1568
2285
2356
          ..
1047097
1047126
1047128
1047130
1049045
Name: trans_k_symbol, Length: 53433, dtype: object
the empty rows in trans_bank are:
Series([], Name: trans_bank, dtype: object)
the empty rows in trans_account are:
Series([], Name: trans_account, dtype: float64)
the empty rows in trans_year are:
Series([], Name: trans_year, dtype: int32)
the empty rows in trans_month are:
Series([], Name: trans_month, dtype: int32)
the empty rows in trans_day are:
Series([], Name: trans_day, dtype: int32)
   trans_id  trans_account_id  trans_date trans_type trans_operation  \
0    695247              2378      930101     PRIJEM           VKLAD
1    171812               576      930101     PRIJEM           VKLAD
2    207264               704      930101     PRIJEM           VKLAD
3   1117247              3818      930101     PRIJEM           VKLAD
4    579373              1972      930102     PRIJEM           VKLAD

   trans_amount  trans_balance trans_k_symbol trans_bank  trans_account  \
0         700.0          700.0            NaN        NaN            NaN
1         900.0          900.0            NaN        NaN            NaN
2        1000.0         1000.0            NaN        NaN            NaN
3         600.0          600.0            NaN        NaN            NaN
4         400.0          400.0            NaN        NaN            NaN

   trans_year  trans_month  trans_day
0        1993            1          1
1        1993            1          1
2        1993            1          1
3        1993            1          1
4        1993            1          2

In [151]:
print(trans['k_symbol'].value_counts())
print(trans['bank'].value_counts())
print(trans['account'].value_counts())

UROK           183114
SLUZBY         155832
SIPO           118065
Other           53433
DUCHOD          30338
POJISTNE        18500
UVER            13580
SANKC. UROK      1577
Name: k_symbol, dtype: int64
QR    22285
AB    21720
ST    21711
YZ    21582
GH    21499
EF    21293
KL    21234
UV    21167
OP    21094
IJ    20525
WX    20178
MN    19623
CD    19597
Name: bank, dtype: int64
0.0           21881
66487163.0      140
13943797.0      130
95437645.0       95
69415771.0       94
              ...
58251345.0        1
74396675.0        1
5624032.0         1
54632151.0        1
29951918.0        1
Name: account, Length: 7665, dtype: int64

In [220]:
# Checking data
print(loan.head())
# Checking structure
print(loan.info())
#Rename Columns
loan = renameColumn('loan', loan)
# Checking missing columns
print("The number of missing columns are: " +  str(loan.isna().sum().sum()))
#Processing Date
loan['loan_year'] = loan['loan_date'].astype(str).str[:2].astype(int) 
loan['loan_year'] = loan['loan_year'] + 1900
loan['loan_month'] = loan['loan_date'].astype(str).str[2:4].astype(int)
loan['loan_day'] = loan['loan_date'].astype(str).str[4:6].astype(int)
# Checking empty columns
emptyrows = checkEmpty(loan)
for column in emptyrows:
    print("the empty rows in " + column + " are: ")
    print(loan.loc[emptyrows[column], column])
loan =  fillEmpty(loan, emptyrows)
print(loan.head())

   loan_id  account_id    date  amount  duration  payments status
0     5314        1787  930705   96396        12    8033.0      B
1     5316        1801  930711  165960        36    4610.0      A
2     6863        9188  930728  127080        60    2118.0      A
3     5325        1843  930803  105804        36    2939.0      A
4     7240       11013  930906  274740        60    4579.0      A
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   loan_id     682 non-null    int64
 1   account_id  682 non-null    int64
 2   date        682 non-null    int64
 3   amount      682 non-null    int64
 4   duration    682 non-null    int64
 5   payments    682 non-null    float64
 6   status      682 non-null    object
dtypes: float64(1), int64(5), object(1)
memory usage: 37.4+ KB
None
The number of missing columns are: 0
the empty rows in loan_id are:
Series([], Name: loan_id, dtype: int64)
the empty rows in loan_account_id are:
Series([], Name: loan_account_id, dtype: int64)
the empty rows in loan_date are:
Series([], Name: loan_date, dtype: int64)
the empty rows in loan_amount are:
Series([], Name: loan_amount, dtype: int64)
the empty rows in loan_duration are:
Series([], Name: loan_duration, dtype: int64)
the empty rows in loan_payments are:
Series([], Name: loan_payments, dtype: float64)
the empty rows in loan_status are:
Series([], Name: loan_status, dtype: object)
the empty rows in loan_year are:
Series([], Name: loan_year, dtype: int32)
the empty rows in loan_month are:
Series([], Name: loan_month, dtype: int32)
the empty rows in loan_day are:
Series([], Name: loan_day, dtype: int32)
   loan_id  loan_account_id  loan_date  loan_amount  loan_duration  \
0     5314             1787     930705        96396             12
1     5316             1801     930711       165960             36
2     6863             9188     930728       127080             60
3     5325             1843     930803       105804             36
4     7240            11013     930906       274740             60

   loan_payments loan_status  loan_year  loan_month  loan_day
0         8033.0           B       1993           7         5
1         4610.0           A       1993           7        11
2         2118.0           A       1993           7        28
3         2939.0           A       1993           8         3
4         4579.0           A       1993           9         6

In [224]:
# Merging account and disp table
base_table = pd.merge(account, disp, left_on = 'account_id', right_on = 'disp_account_id', how='inner' )
# checking for type = 'OWNER'
base_table =  base_table[base_table['disp_type'] == 'OWNER']
# Merging Account to base_table
base_table = base_table.merge(client, left_on = 'disp_client_id', right_on = 'client_id', how='inner')
#Merging card to base_table
base_table = base_table.merge(card, left_on = 'disp_id', right_on = 'card_disp_id', how='inner')
#Merging district to base_table for account
base_table = base_table.merge(district, left_on = 'account_district_id', right_on = 'A1', how='inner')
#Merging district to base_table for client
base_table = base_table.merge(district, left_on = 'client_district_id', right_on = 'A1', how='inner')
#Merging order to base_table for client
base_table = base_table.merge(order, left_on = 'account_id', right_on = 'order_account_id', how='inner')
#Merging trans to base_table for client
base_table = base_table.merge(trans, left_on = 'account_id', right_on = 'trans_account_id', how='inner')
base_table.head()
base_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352697 entries, 0 to 352696
Data columns (total 76 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   account_id           352697 non-null  int64
 1   account_district_id  352697 non-null  int64
 2   account_frequency    352697 non-null  object
 3   account_date         352697 non-null  int64
 4   account_year         352697 non-null  int32
 5   account_month        352697 non-null  int32
 6   account_day          352697 non-null  int32
 7   disp_id              352697 non-null  int64
 8   disp_client_id       352697 non-null  int64
 9   disp_account_id      352697 non-null  int64
 10  disp_type            352697 non-null  object
 11  client_id            352697 non-null  int64
 12  client_birth_number  352697 non-null  int64
 13  client_district_id   352697 non-null  int64
 14  client_birth_year    352697 non-null  int32
 15  client_birth_month   352697 non-null  int32
 16  gender               352697 non-null  object
 17  client_birth_day     352697 non-null  int32
 18  card_id              352697 non-null  int64
 19  card_disp_id         352697 non-null  int64
 20  card_type            352697 non-null  object
 21  card_issued          352697 non-null  object
 22  card_issued_year     352697 non-null  int32
 23  card_issued_month    352697 non-null  int32
 24  card_issued_day      352697 non-null  int32
 25  A1_x                 352697 non-null  int64
 26  A2_x                 352697 non-null  object
 27  A3_x                 352697 non-null  object
 28  A4_x                 352697 non-null  int64
 29  A5_x                 352697 non-null  int64
 30  A6_x                 352697 non-null  int64
 31  A7_x                 352697 non-null  int64
 32  A8_x                 352697 non-null  int64
 33  A9_x                 352697 non-null  int64
 34  A10_x                352697 non-null  float64
 35  A11_x                352697 non-null  int64
 36  A12_x                352697 non-null  object
 37  A13_x                352697 non-null  float64
 38  A14_x                352697 non-null  int64
 39  A15_x                352697 non-null  object
 40  A16_x                352697 non-null  int64
 41  A1_y                 352697 non-null  int64
 42  A2_y                 352697 non-null  object
 43  A3_y                 352697 non-null  object
 44  A4_y                 352697 non-null  int64
 45  A5_y                 352697 non-null  int64
 46  A6_y                 352697 non-null  int64
 47  A7_y                 352697 non-null  int64
 48  A8_y                 352697 non-null  int64
 49  A9_y                 352697 non-null  int64
 50  A10_y                352697 non-null  float64
 51  A11_y                352697 non-null  int64
 52  A12_y                352697 non-null  object
 53  A13_y                352697 non-null  float64
 54  A14_y                352697 non-null  int64
 55  A15_y                352697 non-null  object
 56  A16_y                352697 non-null  int64
 57  order_id             352697 non-null  int64
 58  order_account_id     352697 non-null  int64
 59  order_bank_to        352697 non-null  object
 60  order_account_to     352697 non-null  int64
 61  order_amount         352697 non-null  float64
 62  order_k_symbol       352697 non-null  object
 63  trans_id             352697 non-null  int64
 64  trans_account_id     352697 non-null  int64
 65  trans_date           352697 non-null  int64
 66  trans_type           352697 non-null  object
 67  trans_operation      300642 non-null  object
 68  trans_amount         352697 non-null  float64
 69  trans_balance        352697 non-null  float64
 70  trans_k_symbol       192827 non-null  object
 71  trans_bank           106395 non-null  object
 72  trans_account        122752 non-null  float64
 73  trans_year           352697 non-null  int32
 74  trans_month          352697 non-null  int32
 75  trans_day            352697 non-null  int32
dtypes: float64(8), int32(12), int64(37), object(19)
memory usage: 191.1+ MB

In [196]:
base_table.to_csv(os.path.join('./data/interim',r'base_table.csv'))